
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% extends "base.html" %}
{% block content %}
{% load static %}



<div class="checkout">
    <div class="container mt-7" style="position: relative; padding-top:150px;">
        <form action="{% url 'placeorder'%}" method='POST'>
            {% csrf_token %}
        <div class="row">
            <div class="col-md-7 ">
                <div class="card shadow">
                    <div class="card-body">
                        <h6>Basic Details</h6>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <label>First Name</label>
                                <input type="text" class="form-control" value="{{request.user.first_name}}" name="fname" placeholder="First Name">
                            </div>
                            <div class="col-md-6">
                                <label>Last Name</label>
                                <input type="text" class="form-control" value="{{request.user.last_name}}" name="lname" placeholder="Last Name">
                            </div>
                            <div class="col-md-6 mt-2">
                                <label>email</label>
                                <input type="email" class="form-control" value="{{request.user.email}}" name="email" placeholder="email">
                            </div>
                            <div class="col-md-6 mt-2">
                                <label>Phone</label>
                                <input type="text" class="form-control" value="{{userprofile.phone}}" name="phone" placeholder="Phone">
                            </div>
                            <div class="col-md-12 mt-2">
                                <label>Address</label>
                                <textarea class="form-control" name="address" value="{{userprofile.address}}" placeholder="Enter address"></textarea>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label>City</label>
                                <input type="text" class="form-control"  value="{{userprofile.city}}"name="city" placeholder="city">
                            </div>
                            <div class="col-md-6 mt-2">
                                <label>State</label>
                                <input type="text" class="form-control" value="{{userprofile.state}}" name="state" placeholder="state">
                            </div>
                            <div class="col-md-6 mt-2">
                                <label>Country</label>
                                <input type="text" class="form-control" value="{{userprofile.country}}" name="country" placeholder="country">
                            </div>
                            <div class="col-md-6 mt-2">
                                <label>pin code</label>
                                <input type="text" class="form-control" value="{{userprofile.pincode}}" name="pincode" placeholder="pin code">
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card shadow">
                    <div class="card-body">
                        <h6>Orders Summary</h6>
                        <hr>
                        {% if cartitems %}
                        <table class="table table-stripeds table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
    
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cartitems %}
                                <tr>
                                    <td>{{item.product.name}}</td>
                                    <td>{{item.product_qty}}</td>
                                    <td>{{item.product.selling_price | stringformat:'d'}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <h6 class="fw-bold">Grand Total
                            <span class="float-end">rs {{total_price | stringformat:'d'}}</span>
                        </h6>
                        <input type="hidden" value="COD" name="payment_mode">
                        <div class="mt-3">
    
                            <button type="submit" class="btn btn-success w-100 ">COD | Place order</button>
                            <button type="submit" class="btn btn-success w-100 mt-2"  id="payWithRazorpay">RazorPay</button>
    
                        </div>
    
                        {% else %}
                        <h4>Your cart is empty</h4>
    
                        {% endif %}
    
                    </div>
                </div>
    
            </div>
        </div>
        </form>
    </div>
</div>

<script>
    
    jQuery(document).ready(function($) {
        console.log("jQuery is ready");
        
        
        $('#payWithRazorpay').click(function(e) {
            e.preventDefault();
            
            var fname = $("[name='fname']").val();
            var lname = $("[name='lname']").val();
            var email = $("[name='email']").val();
            var phone = $("[name='phone']").val();
            var address = $("[name='address']").val();
            var city = $("[name='city']").val();
            var state = $("[name='state']").val();
            var country = $("[name='country']").val();
            var pincode = $("[name='pincode']").val();
            var token = $("[name='csrfmiddlewaretoken']").val();
    
            if (fname == "" || lname == "" || email == "" || phone == "" || address == "" || city == "" || state == "" || country == "" || pincode == "") {
                alert("All fields are required");
                return false;
            } else {
                $.ajax({
                    method: "GET",
                    url: "/proceed-to-pay",  
                    success: function(response) {
                        console.log(response);
                        var options = {
                            "key": "",
                            "amount": response.total_price, 
                            "currency": "INR",
                            "name": "Nithes ",
                            "description": "Thank You",
                            "image": "https://img.freepik.com/free-photo/androgynous-avatar-non-binary-queer-person_23-2151100270.jpg?t=st=1720899528~exp=1720903128~hmac=83f1895d79a98af432da5b0c060e9393b2b81e48d020114683de9dcbb56f16e2&w=740",
                            
                            "handler": function(responseb) {
                                alert(responseb.razorpay_payment_id);
                                data={
                                    "fname":fname,
                                    "lname":lname,
                                    "email":email,
                                    "phone":phone,
                                    "address":address,
                                    "city":city,
                                    "state":state,
                                    "country":country,
                                    "pincode":pincode,
                                    "payment_mode":"Paid by Razorpay",
                                    "payment_id":responseb.razorpay_payment_id,
                                    "csrfmiddlewaretoken": token 
                                }
                                $.ajax({
                                    method: "POST",
                                    url: "/place-order",
                                    data: data,
                                    success: function(responsec) {
                                        alert(responsec.status);
                                        if (responsec.status == "Your order has been placed successfully") {
                                            window.location.href = "/my-orders";
                                        }
                                    },
                                    error: function(xhr, status, error) {
                                        alert("Error: " + error); 
                                    }
                                });
                               
                            },
                            "prefill": {
                                "name": fname+""+lname,
                                "email": email,
                                "contact": phone
                            },
                            
                            "theme": {
                                "color": "#3399cc"
                            }
                        };
                        var rzp1 = new Razorpay(options);
                        rzp1.open();
                       
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                        
                    }
                });
                
            }
        });
    });
</script>

{% endblock %}