{% extends "base.html" %}

{% block content %}
<div class="vieworder">
    <div class="container mt-7" style="position: relative; padding-top:150px;">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Shipping Details</h4>
                                <hr>
                                <label class="mt-2">First Name</label>
                                <div class="border p-1">{{ order.fname }}</div>
                                <label>Last Name</label>
                                <div class="border p-1">{{ order.lname }}</div>
                                <label>Email</label>
                                <div class="border p-1">{{ order.email }}</div>
                                <label>Phone</label>
                                <div class="border p-1">{{ order.phone }}</div>
                                <label>Address</label>
                                <div class="border p-1">
                                    {{ order.address }}<br>
                                    {{ order.city }}, {{ order.state }}<br>
                                    {{ order.country }} - {{ order.pincode }}
                                </div>
                            </div>
    
                            <div class="col-md-6">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in orderitems %}
                                        <tr>
                                            <td>{{ item.product.name }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <h4>Grand Total: <span class="float-end">{{ order.total_price }}</span></h4>
                                <h6>Payment Mode: {{ order.payment_mode }}</h6>
                                <h6>Order Status: {{ order.status }}</h6>
                                <h6>Tracking Number: {{ order.tracking_no }}</h6>
                                <a href="{% url 'download_pdf' order.id %}" class="btn btn-primary">Download Bill PDF</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
